<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="MainModuleContext" connectionString="metadata=res://*/Model.MainModuleDataModel.csdl|res://*/Model.MainModuleDataModel.ssdl|res://*/Model.MainModuleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=201.245.160.158;Initial Catalog=Sika_Dev;User ID=sa;Password=LotusNotes*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>